examples/n8n-workflows/trigger-prompt.json
{
  "name": "Haiflow - Trigger Prompt via Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-trigger",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.body.prompt, session: $json.body.session || 'default', id: $json.body.id || 'n8n-' + Date.now(), source: 'n8n' }) }}"
      },
      "id": "trigger-1",
      "name": "Trigger Haiflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Trigger Haiflow", "type": "main", "index": 0 }]]
    },
    "Trigger Haiflow": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
